PORT = 3000
SESSION_SECRET = 'Hydrogen'
# official: https://formbar.yorktechapps.com
# local: http://172.16.3.129:420
AUTH_URL = 'https://formbar.yorktechapps.com'
# The URL you are running this on
# official: https://blitzdefence.yorktechapps.com/login   I guess?
# local: http://172.16.3. :3000/login
THIS_URL = ''
# official: your official server api key
# local: Your local server api key
API_KEY = 'Your API key'
DATABASE_FILE = './db/database.db'